<h1><%= @title %></h1> 
<div class="row">
	<div class="span6 offset3">
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>			
			
			<%= f.label :email %>
			<%= f.text_field :email %>	

			<%= f.submit "Send email", class: "btn btn-large btn-primary", id: "send_reset_password_email" %>
		<% end %>		
	</div>	
</div>
