<h1>Listing users</h1>

<%= will_paginate %>

<%= form_tag users_path, method: 'get' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", name: nil, id: "users_search_button" %>
	<%= @filtered_users.count %>	
<% end %>

<ul class="users">
	<li>
	  <table>  
  		<%= render @users %>
    </table>
	</li>   
</ul>

<%= will_paginate %>

<br />

<%= link_to 'New User', new_user_path %>