<h1>Listing users</h1>

<%= render 'search_users' %>

<%= will_paginate %>

<ul class="users">
	<li>
	  <table>  
  		<%= render @users %>
    </table>
	</li>   
</ul>

<%= will_paginate %>

<br />

<%= link_to 'New User', new_user_path %>