<table>
	<tr>
		<td>
			<a href="<%= user_path(user) %>">
				<%= gravatar_for user, size: 60 %>
			</a>
		</td>
		<td>
			<h1>
				<%= user.name %>
			</h1>
			<% if user.admin? %>
				<div class="administrator"><i>(administrator)<i></div>
			<% end %>						
		</td>
	</tr>
	<tr>
		<td>
			<span>
				<%= link_to "view my profile", user %>
			</span>		
		</td>
	</tr>
	<tr>
		<td>
			<span>
				<%= pluralize(user.microposts.count, "micropost") %>
			</span>	
		</td>	
	</tr>
</table>




